# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='postgres://avnadmin:AVNS_leMxLVRz6jMC1Aeyata@pg-28c727ca-majidgabrlo-4ec3.aivencloud.com:18177/defaultdb?sslmode=require'
JWT_SECRET='hsg54564*BVCXrfdsggfd4234@$#$^dcg4ZZSefwD7'